{% extends 'base.html'%}


{%block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center bg-primary text-light">
                    <h4>SEARCH TEMPLATE</h4>
                </div>

                <div class="card-body">
                    <form class="form my-2 my-lg-0">
                        <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search">
                        <!-- <button class="btn btn-secondary btn- my-2 my-sm-0 mt-2" type="submit">Search</button> -->
                    </form>

                    <div class="mt-1" id="box">
                        {% for i in object_list %}
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>

                            <h4 class="alert-heading text-center">{{i.title}}!</h4>

                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock %}


{% block script %}

<script>
    console.log('search page')
    const data = '{{json_data}}'
    console.log(data)

    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    console.log(rdata)

    const input = document.getElementById('search')
    console.log(input)

    let filterData = []

    input.addEventListener('keyup',(e)=>{
        box.innerHTML = ''
        filterData = rdata.filter(info=> info['title'].includes(e.target.value))
        console.log(filterData)

        if (filterData.length>0){
            filterData.map(item=>{
                box.innerHTML += `<div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>

                            <h4 class="alert-heading text-center">${item['title']}!</h4>

                        </div> `
            })
        }
        else{
            box.innerHTML = `<div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>

                            <h4 class="alert-heading text-center">Nothing to show!</h4>

                        </div>`
        }
    })
</script>

{%endblock%}