{%extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center bg-primary text-light">
                    <h4>POST SOMETHING</h4>
                </div>
                <div id="alert-box"></div>
                <!--alertBox-->
                <div id="img-box"></div>
                <!--imgBox-->
                <div class="card-body ">
                    <form id="post-form" method="POST" autocomplete="off">
                        {%csrf_token%}
                        {{ form|crispy}}

                        <input class="btn btn-sm btn-block btn-success" type="submit" value="submit">
                        <!-- {{bootstrap_form}} -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block script %}

<script>
    console.log('ajax form page')

    const alertBox = document.getElementById('alert-box')
    const imgBox = document.getElementById('img-box')
    const form = document.getElementById('post-form')

    console.log(form)

    const title = document.getElementById('id_title')
    const content = document.getElementById('id_content')
    const image = document.getElementById('id_image')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    console.log(csrf)
    const url = ""


    const handleAlerts = (type, text) => {
        alertBox.innerHTML = `<div class="alert alert-dismissible alert-${type}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>${text}!</strong>
                    </div>`
    }

    console.log(image)
    image.addEventListener('change', (e) => {
        const img_data = image.files[0]
        const url = URL.createObjectURL(img_data)
        console.log(url)
        console.log(url)
        console.log(url)

        imgBox.innerHTML = `<img src="${url}" class="card-img-top">`
        console.log(url)
    })

    console.log(form)
    console.log(url)
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        const fd = new FormData()
        console.log(fd)
        fd.append('csrfmiddlewaretoken', csrf[0].value)
        fd.append('title', title.value)
        fd.append('content', content.value)
        fd.append('image', image.files[0])
        console.log(fd)

        $.ajax({
            type: 'POST',
            url: url,
            enctype: 'multipart/form-data',
            data: fd,
            success: function (response) {
                console.log(response)
                const successText = `Well Done Saving It ${response.title}`
                handleAlerts('success',successText)
                setTimeout(()=>{
                    imgBox.innerHTML = ""
                    // alertBox.innerHTML = ""
                    title.value = ""
                    image.value =""
                    content.value = ""
                },1000)
            },
            error: function (error) {
                console.log(error)
                handleAlerts('danger','Oh! Snap!')
            },
            cache: false,
            contentType: false,
            processData: false,
        })
    })

</script>

{% endblock%}