{%extends 'base.html' %}
{%load static %}

{%block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header" id="p1"><h4>There are many programming language:python,javascript,c,c++,c#.</h4></div>
                <div class="card-body" id="o1"></div>
                <div class="car-body" id="o2"></div>
            </div>
        </div>
    </div>
</div>



{%endblock%}


{%block script%}
<script src="{% static 'part_one.js' %}"></script>


{% endblock script %}