{% extends 'base.html'%}


{%block content%}
<div class="card">
    <div class="card-header text-center bg-primary text-light">
        <h4>DROP YOUR IMAGES</h4>
    </div>

    <div class="card-body">
        <form action="upload/" method="POST" class="dropzone" id="new-dropzone">
            {%csrf_token%}
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>
{%endblock%}


{%block script%}
    
<script>
    Dropzone.autoDiscover = false;

    const newDropZone = new Dropzone("#new-dropzone", {
        url: "upload/",
        maxFiles: 5,
        maxFilesize: 2,
        acceptedFiles: '.png,.jpg'
    })
</script>
{%endblock%}